
.enter-btn{
    position: absolute;
    top: 20px; ;
    left: 130px ;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none; 
    border: 2px solid black;
    font-size: xx-large;
}
.enter-btn:hover {
background-color: black;
color: white;
}