
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
text-align: center;
}

h1 {
    font-size: 67px;
    color: rgb(60, 255, 0); 
}

/*Button*/ 

.enter-btn {
    display: inline-block;
    padding: 14px 45px;
    background-color: rgb(0, 0, 0);
    color: rgb(60, 255, 0);
    text-decoration: none; 
    border: 2px solid black;
    font-size: xx-large;
}

.enter-btn:hover {
    background-color: rgb(60, 255, 0);
    color: rgb(0, 0, 0);
}